h2 {
  font-size: 60px;
  font-family: Calibri;
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
  color: grey;   
}
p {
font-size: 14px;
  font-family: Calibri;
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
  color: grey;  
}